<h1>Productos en Tiempo Real</h1>

<h2>Agregar Producto</h2>
<form id="add-product-form">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="text" name="code" placeholder="Código" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <button type="submit">Agregar Producto</button>
</form>

<h2>Eliminar Producto</h2>
<form id="delete-product-form">
    <input type="text" name="id" placeholder="ID del Producto a eliminar" required>
    <button type="submit">Eliminar Producto</button>
</form>

<hr>

<h2>Lista de Productos</h2>
<ul id="products-list">
    {{#each products}}
        <li>
            ID: {{this.id}} <br>
            <strong>{{this.title}}</strong> - ${{this.price}}
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>